.signIn {
    display: block !important;
    width: 100%;
    height: 100%;
    max-width: 100%; /* Prevent overflow */
    overflow-x: hidden; /* Hide horizontal scroll if needed */
}

.signIn body {
    display: block;
}

.centered {
    display: flex;
    place-items: center;
    min-height: 100vh;
}

.uploadBtn{
    padding: 15px 10px;
}

.apexcharts-legend-text {
    font-size: 17px !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
}